@font-face {
	font-family: OpenSans;
	src: url(Open_sans/OpenSans-Regular.ttf);
}

body {
	background-color: #96dddd;
	font-family: OpenSans;
}

.top-bar{
	display: grid;
	grid-template-columns: .2fr 1fr 1fr 1fr .5fr;
	border-radius: 5px;
	background-color: #2586ac;
	height: 75px;
}

.user-data-bar{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	width: 75%;
	line-height: 30px;
	height: 30px;
}

.repo-data-bar{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	display: grid;
	grid-template-columns: 1fr 1fr 2.5fr 1fr 1fr 1fr;
	width: 85%;
	line-height: 30px;
	height: 30px;
}


.info-header {
	background-color: #2586ac;
	color: white;
}

.info-data {
	background-color: white;
	border-left: 1px solid #2586ac;
	border-right: 1px solid #2586ac;
	border-bottom: 2px solid #2586ac;
}

.info-header:first-of-type {
	border-top-left-radius: 5px;
}

.info-header:last-of-type {
	border-top-right-radius: 5px;
}

.info-data:first-of-type {
	border-bottom-left-radius: 5px;
	border-left: 2px solid #2586ac;
}

.info-data:last-of-type {
	border-bottom-right-radius: 5px;
	border-right: 2px solid #2586ac;
}

h1 {
	text-align: center;
}

table {
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
}

th {
	border: 2px solid black;
}

td {
	border: 1px solid black;
}

.logo-container {
	margin-left: 15px;
	margin-right: 15px;
	height: 75px;
}

.users-button, .repos-button, .langs-button{
	font-size: 30px;
	line-height: 75px;
	text-align: center;
	transition: 0.3s;
	border-left: 3px solid #4c9ebe; 
	user-select: none;
}
.users-button:hover, .repos-button:hover, .langs-button:hover{
	background-color: #4c9ebe;
	transition: 0.3s;
}

.user-section{
	text-align:center;
	line-height: 75px;
}

.langs-button {
	border-right: 3px solid #4c9ebe; 
}

.monospace-font {
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
}

form {
	text-align: center;
}

.search-bar{
	text-align:center;
}