/* Global */
@font-face {
	font-family: OpenSans;
	src: url(Open_sans/OpenSans-Regular.ttf);
}

body {
	background-color: powderblue;
	font-family: OpenSans;
}

/* Top bar */
.top-bar{
	display: grid;
	grid-template-columns: 1fr 75px 1fr;
}
.data-tabs-container, .account-container {
	height: 75px;
}

.data-tab, .account-tab {
	display: inline-block;
	margin-top: 20px;
	margin-left: 5px;
	margin-right: 5px;
}

.data-tab {
	float: left;
}

.account-tab {
	float: right;
}

.account-tab-text {
	line-height: 35px; /* 23px + 2*6px same as button */
	font-weight: bold;
}

.logo-container {
	background-color: #2586ac;
	border-radius: 5px;
	height: 75px;
}

/* Title centering */
.title {
	text-align: center;
}

/* Custom table style */
.custom-table {
	border-collapse: separate;
	border-spacing: 0px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border: 2px solid #2586ac;
	border-radius: 5px;
}

.data-row:last-of-type .data-el{
	border-bottom: 0px;
}

.data-row:last-of-type .data-el:first-child {
	border-bottom-left-radius: 3px;
}

.data-row:last-of-type .data-el:last-child {
	border-bottom-right-radius: 3px;
}

.header-el {
	background-color: #2586ac;
	color: white;
	font-weight: normal;
	padding: 4px 10px 4px 10px;
}

.data-el {
	background-color: white;
	padding: 4px;
	border: 1px solid #2586ac;
}

.data-el:first-of-type {
	border-left: 0px;
}

.data-el:last-of-type {
	border-right: 0px;
}

.text-mode {
	text-align: left;
}

.monospace-font {
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
}

/* Sorting arrows  */
.sort-btn {
	width: 15px;
	max-width: 15px;
}

.uparrow, .downarrow {
	padding: 3px;
	font-size: 15px;
	display: inline-block;
    transform: rotate(90deg);
}

.line {
	font-size: 15px;
    display: inline-block;
    padding: 3px;
	font-weight: bold;
}

.uparrow::before {
    content: '\276E';
}

.downarrow::before {
    content: '\276F';
}

.line::before {
	content: '\2014';
}

/* Input fields style */
.search-container {
	display: grid;
	height: 67.5vh;
	place-items: center;
}
.switch-container {
	text-align: center;
	width: 325px; 
	background-color: #2586ac;
	padding: 3px 8px;
	color: white;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	user-select: none;
}

.users-opt, .repos-opt {
	accent-color: #2586ac;
}

.search-form, .login-form, .register-form {
	text-align: center;
}

.search-input {
	width: 325px;
	font-size: 20px;
	padding: 6px 8px;
	border: none;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	text-align: center;
}

.search-input::-webkit-calendar-picker-indicator {
	display: none !important;
}

.username-input, .password-input {
	font-size: 18px;
	padding: 5px 8px;
	border: none;
	border-radius: 5px;
	margin-bottom: 20px;
}

.search-input:focus, .username-input:focus, .password-input:focus {
	outline-color: #2586ac;
}

.confirm-btn {
	font-size: 20px;
	background-color: #2586ac;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 6px 10px;
	transition: .3s;
}

.confirm-btn:hover {
	background-color: #3f90b2;
	transition: .3s;
	user-select: none;
	cursor: pointer;
	box-shadow: 0 0 2px 1px #3f90b2;
}

/* Alerts */
.auth-alert {
	display: inline-block; /* minimal size */
	padding: 15px;
	background-color: #f0483d; 
	color: white;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	border-radius: 5px;
	transition: opacity .5s;
	opacity: 1;
	transition: .3s;

}

.auth-alert:hover {
	background-color: #f54d42;
	cursor: pointer;
	box-shadow: 0 0 2px 1px #f54d42;
	transition: .3s;
}