@font-face {
	font-family: OpenSans;
	src: url(Open_sans/OpenSans-Regular.ttf);
}

body {
	background-color: powderblue;
	font-family: OpenSans;
}

.top-bar{
	display: grid;
	grid-template-columns: .2fr 1fr 1fr 1fr .5fr;
	border-radius: 5px;
	background-color: #2586ac;
	height: 75px;
	border: 3px solid #4c9ebe;
}

.logo-container {
	margin-left: 15px;
	margin-right: 15px;
	height: 75px;
	cursor:pointer;
}

.users-button, .repos-button, .langs-button{
	font-size: 30px;
	line-height: 75px;
	text-align: center;
	transition: 0.3s;
	border-left: 3px solid #4c9ebe; 
	user-select: none;
	cursor: pointer;
}
.users-button:hover, .repos-button:hover, .langs-button:hover{
	background-color: #4c9ebe;
	transition: 0.3s;
}

.user-section{
	text-align:center;
	line-height: 75px;
}

.langs-button {
	border-right: 3px solid #4c9ebe; 
}

/* Title centering */
.title {
	text-align: center;
}

/* Custom table style */
.custom-table {
	border-collapse: separate;
	border-spacing: 0px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border: 2px solid #2586ac;
	border-radius: 5px;
}

/* .data-row:first-of-type .data-el{
	border-top: 0px;
} */

.data-row:last-of-type .data-el{
	border-bottom: 0px;
}

.data-row:last-of-type .data-el:first-child {
	border-bottom-left-radius: 3px;
}

.data-row:last-of-type .data-el:last-child {
	border-bottom-right-radius: 3px;
}

.header-el {
	background-color: #2586ac;
	color: white;
	font-weight: normal;
	padding: 4px 10px 4px 10px;
}

.data-el {
	background-color: white;
	padding: 4px;
	border: 1px solid #2586ac;
}

.data-el:first-of-type {
	border-left: 0px;
}

.data-el:last-of-type {
	border-right: 0px;
}

.text-mode {
	text-align: left;
}

.monospace-font {
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
}

/* Sorting arrows  */
.sort-btn {
	width: 15px;
	max-width: 15px;
}

.uparrow, .downarrow {
	padding: 3px;
	font-size: 15px;
	display: inline-block;
    transform: rotate(90deg);
}

.line {
	font-size: 15px;
    display: inline-block;
    padding: 3px;
	font-weight: bold;
}

.uparrow::before {
    content: '\276E';
}

.downarrow::before {
    content: '\276F';
}

.line::before {
	content: '\2014';
}

/* Input fields style */
.search-container {
	display: grid;
	height: 67.5vh;
	place-items: center;
}
.switch-container {
	text-align: center;
	width: 250px; 
	background-color: #2586ac;
	padding: 3px 8px;
	color: white;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.users-opt, .repos-opt {
	accent-color: #2586ac;
}

.search-form, .login-form, .register-form {
	text-align: center;
}

.search-input {
	width: 250px;
	font-size: 20px;
	padding: 6px 8px;
	border: none;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	text-align: center;
}
.search-input::-webkit-calendar-picker-indicator {
	display: none !important;
}

.username-input, .password-input {
	font-size: 18px;
	padding: 5px 8px;
	border: none;
	border-radius: 5px;
	margin-bottom: 20px;
}

.search-input:focus, .username-input:focus, .password-input:focus {
	outline-color: #2586ac;
}

.confirm-btn {
	font-size: 20px;
	background-color: #2586ac;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 6px 10px;
	transition: .3s;
}

.confirm-btn:hover {
	background-color: #3f90b2;
	transition: .3s;
	user-select: none;
	cursor: pointer;
	box-shadow: 0 0 2px 1px #3f90b2;
}