<!DOCTYPE html>
<html>
	<head>
		<title>GitHub - {{title}}</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/style.css">
	</head>
	<body>
		<div class="top-bar">
			<div class="logo-container">
				<img class="logo" src="/logo.png" alt="Logo" width="75"/>
			</div>
			
			<div class="side-by-side users-button" onclick="location.href='/users'">
				Uporabniki
			</div>
			<div class="side-by-side repos-button" onclick="location.href='/repos'">
				Repozitoriji
			</div>
			<div></div>
		</div>
		{{!base}}
	</body>
</html>