<!DOCTYPE html>
<html>
	<head>
		<title>GitHub - {{title}}</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/style.css">
		<script type="text/javascript" src="/tableSort.js"></script>
	</head>
	<body>
		<div class="top-bar">
			<div class="data-tabs-container">
				<!-- <form class="data-tab" action="/users" method="GET">
					<input class="confirm-btn" type="submit" value="Uporabniki">
				</form>
				<form class="data-tab" action="/repos" method="GET">
					<input class="confirm-btn" type="submit" value="Repozitoriji">
				</form>
				<form class="data-tab" action="/languages" method="GET">
					<input class="confirm-btn" type="submit" value="Programski jezki">
				</form> -->
				<button class="confirm-btn data-tab" onclick="location.href='/users'">Uporabniki</button>
				<button class="confirm-btn data-tab" onclick="location.href='/repos'">Repozitoriji</button>
				<button class="confirm-btn data-tab" onclick="location.href='/langs'">Programski jeziki</button>
			</div>
			<div class="logo-container" onclick="location.href='/'">
				<img class="logo" src="/logo.png" alt="Logo" width="75"/>
			</div>
			<div class="account-container">
			% if account:
				<form class="account-tab" action="/logout" method="POST">
					<input class="confirm-btn" type="submit" value="Odjava">
				</form>
				<div class="account-tab account-tab-text">
					Prijavljen kot {{account}}
				</div>
			% else:
				<!-- <form class="account-tab" action="/register" method="GET">
					<input class="confirm-btn" type="submit" value="Registracija">
				</form>
				<form class="account-tab" action="/login" method="GET">
					<input class="confirm-btn" type="submit" value="Vpis">
				</form> -->
				<button class="confirm-btn account-tab" onclick="location.href='/register'">Registracija</button>
				<button class="confirm-btn account-tab" onclick="location.href='/login'">Vpis</button>
			% end
			</div>
		</div>
		{{!base}}
		<div style="height: 50px;"></div> <!-- footer placeholder -->
	</body>
</html>