<!DOCTYPE html>
<html>
	<head>
		<title>GitHub - {{title}}</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/style.css">
	</head>
	<body>
		<div class="top-bar">
			<div class="logo-container">
				<img onclick="location.href='/'" class="logo" src="/logo.png" alt="Logo" width="75"/>
			</div>
			
			<div class="users-button" onclick="location.href='/users'">
				Uporabniki
			</div>
			<div class="repos-button" onclick="location.href='/repos'">
				Repozitoriji
			</div>
			<div class="langs-button" onclick="location.href='/'">
				Programski jeziki
			</div>
			<div class="user-section">
				<a href="/login">Prijava</a>/
				<a href="/register">Registracija</a>
			</div>
		</div>
		{{!base}}
	</body>
</html>