% rebase("base.html")
<h1> Uporabnik - {{user[1]}} </h1>

<div class = "userdata-bar top-curve">
	<div class="item top-curve">ID</div>
	<div class="item top-curve">Uporabniško ime</div>
	<div class="item top-curve">Število javnih repozitorijev</div>
	<div class="item top-curve">Število sledilcev</div>
	<div class="item top-curve">Datum pridružitve</div>
</div>
<div class = "userdata-bar bottom-curve">
	<div class="item bottom-curve">{{user[0]}}</div>
	<div class="item bottom-curve">{{user[1]}}</div>
	<div class="item bottom-curve">{{user[2]}}</div>
	<div class="item bottom-curve">{{user[3]}}</div>
	<div class="item bottom-curve">{{user[4]}}</div>
</div>

<p></p>

% if len(repos) != 0:
<table>
	<tr>
		<th>Repozitoriji</th>   <!--Lahko onclick da se tabela skrije v header.-->
	</tr>
	% for repo in repos:
	<tr>
		<td><a href="/repos/{{user[1]}}/{{repo}}">{{repo}}</a></td>
	</tr>
	% end
</table>
% end

% if len(commits) != 0:
<h1> Prispevki </h1>
<table>
	<tr>
		<th> Koda prispevka </th>
		<th> Repozitorij </th>
		<th> Sporočilo </th>
		<th> Datum </th>
	</tr>
	% for commit in commits:
	<tr>
		<td class="monospace-font"> {{commit[0]}} </td>
		<td> <a href="/repos/{{commit[3]}}/{{commit[4]}}">{{commit[3]}}/{{commit[4]}}</a> </td>
		<td> {{commit[1]}} </td>
		<td> {{commit[2]}} </td>
	</tr>
	% end
</table>
% end
